/* Inicio Normalizadores*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    width: 100%;
    min-height: 100vh;
    color: black;
}


ul {
    list-style-type: none ;
}

a {
    text-decoration: none;
    color: inherit;
}
/* Fin Normalizadores */

/* Inicio Grid Site */
#grid-site {
    display: grid;
    grid-template-areas:
    "header"
    "main"
    "footer";
    grid-template-columns: auto;
    grid-template-rows: 125px 1fr 175px;
}
/* Fin Grid Site */

/*Inicio de Header*/
.header{
    font-family: 'Rubik', sans-serif;
    background-color: black;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    grid-area: header;
}

.header__logo  {
font-size: 40px;
color: white;
text-shadow: 3px 3px 3px rgb(39, 202, 148);
animation: logo-entrance 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

@keyframes logo-entrance {
    0% {
        transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
        transform-origin: 100% 50%;
        filter: blur(40px);
        opacity: 0;
    }
    100% {
            transform: translateX(0) scaleY(1) scaleX(1);
            transform-origin: 50% 50%;
            filter: blur(0);
            opacity: 1;
    }
}

.header__ul {
    color: white;
    font-size: 25px;
    display: flex;
    gap: 15px;
}

.header__ul li {
    border: 3px solid black;
    border-radius: 5px;
    transition: all 0.3s;
}

.header__ul li:hover {
    color: black;
    background-color: white;
}


@media (max-width: 768px) {
    .header {
        flex-direction: column;
        text-align: center;
    }
}
/* Fin de Header */

/*Inicio de Main*/
.main {
    padding: 35px 50px;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
    grid-area: main;
}

/*Inicio de Main - Index*/
.main__website-name {
    border: solid 5px rgb(209, 31, 31);
    border-radius: 10px;
    background-image:linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)),url(../img/background-domain.jpg);
    height: 225px;
    border-radius: 32px;
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
}

.main__website-name h1 {
    text-align: center;
    font-size: 125px;
    font-family: 'Carter One', cursive;
    color: rgb(209, 31, 31);
    text-decoration:underline rgb(209, 31, 31);
    -webkit-text-stroke: 2px black;
}

.news-title {
    font-family: 'Carter One', cursive;
    font-size: 65px;
    text-decoration: underline;
    color: rgb(39, 202, 148);
    text-align: center;
    margin-top: 75px;
}

.news {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 15px;
    margin: 25px;
    text-align: center;
    gap: 15px;
}

.news__article  {
    width: 450px;
    height: 530px;
    border: solid  7px black;
    border-radius: 24px;
    padding: 15px;
    margin-bottom: 10px;
    background-color: white;
}

.news__article img {
    width: 20rem;
    height: 25rem;
}

.news__article h3 {
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    padding: 15px;
    text-align:center;
    z-index: 1;
}

.sections-title {
    font-family: 'Carter One', cursive;
    font-size: 65px;
    text-decoration: underline;
    color: rgb(39, 202, 148);
    text-align: center;
    margin-top: 75px;
}

.sections {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-evenly;
    padding: 15px;
    margin: 25px;
    gap: 15px;
}

.sections__item  {
    border: solid  7px black;
    border-radius: 24px;
    background-color: white;
    margin-bottom: 10px;
}

.sections__item  img {
    width: 15rem;
    height: 20rem;
    margin: 1rem;
}

.sections__item h3 {
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    padding: 15px;
    text-align:center;
    z-index: 1;
}
/*Fin de Main - Index*/

/*Inicio de Main - Productos*/
.main .main__sections{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.main .main__sections__title {
    font-family: 'Carter One', cursive;
    color: rgb(39, 202, 148);
    font-size: 75px;
    text-decoration: underline;
    padding-bottom: 25px;
}

.main .main__sections__items {
    width: 350px ;
    height: 500px;
    font-family: 'Rubik', sans-serif;
    font-size: 40px ;
    padding: 15px;
    border: 5px solid black;
    border-radius: 20px;
    
}

.main .main__sections__items li{
    padding: 20px;
    text-decoration: underline;
}

@media (max-width: 768px) {
    .main .main__sections {
        align-items: center;
    }
}
/*Fin de Main - Productos*/

/*Inicio de Main - Ofertas*/
.main__offers__title {
    font-family: 'Carter One', cursive;
    color: rgb(39, 202, 148);
    font-size: 75px;
    text-align: center;
    text-decoration: underline;
}
/*Fin de Main - Ofertas*/

/*Inicio de Main - Información*/

.main .information {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.main .history {
    margin: 35px;
}

.title-history {
    font-family: 'Carter One', cursive;
    font-size: 65px;
    text-align: center;
    text-decoration: underline;
    color: rgb(39, 202, 148);
}

.main .history p {
    font-family: 'Rubik', sans-serif;
    font-size: 35px;
    padding: 25px;
}

.main .multimedia {
    display: flex;
    flex-direction: column;
}

.main .multimedia h2 {
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    padding: 15px;
    text-align:center;
}
.main .multimedia iframe {
    width: 1000px;
    height: 500px;
}
/*Fin de Main - Información*/

/*Inicio de Main - Contacto*/
.main .title-contact h1 {
    font-family: 'Carter One', cursive;
    font-size: 65px;
    text-align: center;
    text-decoration: underline;
    color: rgb(39, 202, 148);
}

.main .form {
    margin: 15px;
    text-align: center;
}

.main .form .form__data {
    border: 3px solid black;
    display: inline-block;
    text-align: center;
    width: 550px;
    height: 675px;
    position: relative;
}

.main .form__data__item {
    position: relative;
    margin: 10px;
    padding: 35px;
}

.main .form__data__item label {
    font-family: 'Carter One', cursive;
    font-size: 25px;
    position: absolute;
    left: 25px;

}
.main .form__data__item input {
    position: absolute;
    font-size: 25px;
    left: 150px;
}

.main .form__data__comment {
    position: relative;
}

.main .form__data__comment label {
    font-family: 'Carter One', cursive;
    font-size: 25px;
    margin-top: 55px;
    position: absolute;
    top:0 ;
    left: 35px;
}

.main .form__data__comment textarea {
    width: 90%;
    font-size: 20px;
    margin-top: 15px;
    position: absolute;
    top: 100px ;
    left: 25px;
}

.main .form .form__data__textarea-input {   
    position: absolute;
    margin: 10px;
    bottom:0 ;
    right: 15px;
    font-size: 20px;
}
/*Fin de Main - Contacto*/
/*Fin de Main*/

/*Inicio de Footer*/
.footer {
    font-family: 'Rubik', sans-serif;
    color:white;
    background-color: black;
    padding: 10px; 
    text-align: center;
    font-size: 25px;
    grid-area: footer; 
}

.footer__networks {
    padding: 5px 0px;
}

.footer__rights {
    font-size: 25px;
    padding-top: 5px;
    
}

.footer img {
    margin: 15px;
    width: 40px;
    height: 40px;
}
/*Fin de Footer*/