/* Inicio Normalizadores*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    width: 100%;
    min-height: 100vh;
    color: black;
    line-height: 1.5;
    font-weight: inherit;
}

img {
    width: 100%;
}

ul {
    list-style-type: none ;
}

a {
    text-decoration: none;
    color: inherit;

    &:hover {
        color: inherit;
    }

}

.main {
    padding: 35px 50px;
    width: 100vw;
    min-height: 100vh;
    background-color:map-get($colors , secondary);
    grid-area: main;
}

/* Fin Normalizadores */

