<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Cualquier duda o consulta no dudes en contactarnos">
    <meta name="keywords" content="FUNKO POP!, FIGURAS, JUGUETES, CONTACTO, DUDAS, CONSULTAS">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Carter+One&family=Edu+SA+Beginner:wght@400;500&family=Rubik:wght@500&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../img/logo.png" type="image/x-icon">
    <title>Nugatu | Contacto</title>
</head>
<body>
    <div id="grid-site">
        <!--Inicio de header -->
        <header class="header">
            <a class="header__logo" href="../index.html"><img class="header__logo" src="../img/Logo.png" alt="Logo"></a> 
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <button class="navbar-toggler header__button" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="header__nav collapse navbar-collapse justify-content-end" id="navbarNav">
                        <ul class="header__ul">
                            <li class="nav-item header__li"><a href="../index.html">INICIO</a></li>
                            <li class="nav-item header__li"><a href="./productos.html">PRODUCTOS</a></li>
                            <li class="nav-item header__li"><a href="./ofertas.html">OFERTAS</a></li>
                            <li class="nav-item header__li"><a href="./informacion.html">INFORMACIÓN</a></li>
                            <li class="nav-item header__li"><a href="./contacto.html">CONTACTO</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>  
        <!--Fin de Header--> 
        <!--Inicio formulario-->
        <main class="main">
            <section class="title-contact">
                <h1>¡Escríbenos!</h1>
            </section>
            <section class="form grid-contact">
                <form class="form__data" action="#">
                    <div class="mb-3 form__data__item form__data__name">
                        <label for="exampleFormControlInput1" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1">
                    </div>
                    <div class="mb-3 form__data__item form__data__phone">
                        <label for="exampleFormControlInput1" class="form-label">Correo</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" required>
                    </div>
                    <div class="mb-3 form__data__item form__data__phone">
                        <label for="exampleFormControlInput1" class="form-label">Teléfono</label>
                        <input type="number" class="form-control" id="exampleFormControlInput1">
                    </div>
                    <div class="mb-3 form__data__comment">
                        <label for="exampleFormControlTextarea1" class="form-label">Comentario</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                    </div>
                    <input class="form__data__textarea-input" type="submit" value="Enviar"> 
                </form>
            </section>
        </main>
        <!--FIn formulario-->
        <!--Inicio de footer-->
        <footer class="footer">
            <h3 class="footer__networks">NUESTRAS REDES</h3>
                <a class="footer__link" href="https://es-la.facebook.com/"><img src="../img/facebook.png" alt="Facebook"></a>
                <a class="footer__link" href="https://www.instagram.com/"><img src="../img/instagram.png" alt="Instagram"></a>
                <a class="footer__link" href="https://twitter.com/"><img src="../img/twitter.png" alt="Twitter"></a>   
            <h3 class="footer__rights">Todos los derechos reservados</h3>
        </footer>
        <!--Fin de footer-->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>  
</body>
</html>