<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Cualquier duda o consulta no dudes en contactarnos">
    <meta name="keywords" content="FUNKO POP!, FIGURAS, JUGUETES, CONTACTO, DUDAS, CONSULTAS">
    <link rel="stylesheet" href="../css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Carter+One&family=Edu+SA+Beginner:wght@400;500&family=Rubik:wght@500&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../img/logo.png" type="image/x-icon">
    <title>Nugatu | Contacto</title>
</head>
<body>
    <div id="grid-site">
        <!--Inicio de header -->
        <header class="header">
            <a class="header__logo" href="../index.html"><img class="header__logo" src="../img/Logo.png" alt="Logo"></a>
            <nav class="header__nav">
                <ul class="header__ul">
                    <li class="header__li"><a href="../index.html">INICIO</a></li>
                    <li class="header__li"><a href="./productos.html">PRODUCTOS</a></li>
                    <li class="header__li"><a href="./ofertas.html">OFERTAS</a></li>
                    <li class="header__li"><a href="./informacion.html">INFORMACIÓN</a></li>
                    <li class="header__li selected"><a href="./contacto.html">CONTACTO</a></li>
                </ul>
            </nav>
        </header> 
        <!--Fin de Header--> 
        <!--Inicio formulario-->
        <main class="main">
            <section class="title-contact">
                <h1>¡Escríbenos!</h1>
            </section>
            <section class="form">
                <form class="form__data" action="#">
                    <div class="form__data__item">
                        <label for="nombre">Nombre:</label>
                        <input type="text" name="nombre" id="">
                    </div>
                    <div class="form__data__item">
                        <label for="correo">Correo:</label>
                        <input type="email" name="correo" required>
                    </div>
                    <div class="form__data__item">
                        <label for="telefono">Teléfono:</label>
                        <input type="number" name="telefono" id="">
                    </div>                             
                    <div class="form__data__comment">
                        <label for="comentario">Comentario:</label>
                        <textarea name="comentario" id="" cols="30" rows="10"></textarea>   
                    </div> 
                    <input class="form__data__textarea-input" type="submit" value="Enviar">              
                </form>
            </section>
        </main>
        <!--FIn formulario-->
        <!--Inicio de footer-->
        <footer class="footer">
            <h3 class="footer__networks">NUESTRAS REDES</h3>
                <a class="footer__link" href="https://es-la.facebook.com/"><img src="../img/facebook.png" alt="Facebook"></a>
                <a class="footer__link" href="https://www.instagram.com/"><img src="../img/instagram.png" alt="Instagram"></a>
                <a class="footer__link" href="https://twitter.com/"><img src="../img/twitter.png" alt="Twitter"></a>   
            <h3 class="footer__rights">Todos los derechos reservados</h3>
        </footer>
        <!--Fin de footer-->
    </div>  
</body>
</html>