<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Historia y curiosidades de los FUNKO POP!">
    <meta name="keywords" content="FUNKO POP!, FIGURAS, JUGUETES, HISTORIA">
    <link rel="stylesheet" href="../css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Carter+One&family=Edu+SA+Beginner:wght@400;500&family=Rubik:wght@500&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../img/logo.png" type="image/x-icon">
    <title>Nugatu | Información</title>
</head>
<body>
    <div id="grid-site">
        <!--Inicio de header -->
        <header class="header">
            <a class="header__logo" href="../index.html"><img class="header__logo" src="../img/Logo.png" alt="Logo"></a>
            <nav class="header__nav">
                <ul class="header__ul">
                    <li class="header__li"><a href="../index.html">INICIO</a></li>
                    <li class="header__li"><a href="./productos.html">PRODUCTOS</a></li>
                    <li class="header__li"><a href="./ofertas.html">OFERTAS</a></li>
                    <li class="header__li selected"><a href="./informacion.html">INFORMACIÓN</a></li>
                    <li class="header__li"><a href="./contacto.html">CONTACTO</a></li>
                </ul>
            </nav>
        </header> 
        <!--Fin de Header--> 
        <!--Inicio historia de Funko POP-->
        <main class="main">
            <h1 class="title-history">Historia</h1>
            <div class="information">
                <section class="history">
                    <h3>Origen</h3>
                    <p>El origen de Funko se remonta a 1998, donde un diseñador gráfico de Estados Unidos llamado Mike Becker, buscaba una alcancía vintage de la mascota del restaurante Big Boy, cadena muy famosa en el país. Al encontrarlo por un precio elevado de cientos de dólares, se le ocurrió la idea de producir su propia copia. Así fue como Mike junto a sus amigos artistas Rob Schwartz y Sean Wilkinson fundaron Funko. El origen del nombre es un juego de palabras con los términos en ingles de “Fun” y “Company” (compañía y diversión), que muto en la palabra Funko.</p>
                    <p>Así la primera figura fue lanzada para la cadena de comida rápida Big Boy, con una cabeza saltarina (bobblehead), donde lograron vender rapidamente el stock habían fabricado.</p>
                    <p>La primera figura que diseñaron se llamó “Computer Bob”, que era un hombre con una computadora por cabeza y con el estilo que caracteriza a Funko: figuras cabezonas. La producción inicio en el garaje de Becker en su casa de Snohomish, con figuras populares de la época como Popeye el marino, Dick Tracy y la mascota de los restaurantes Big Boy.</p>
                    <p>El éxito a nivel nacional se dio cuando la empresa consiguió la licencia de Austin Powers, película estrenada en 1997 que fue un éxito de taquilla. La producción de estas figuras fue la primera en sobrepasar las 100.000 unidades.</p>                
                    <h3>Linea POP!</h3>
                    <p>En el 2005 Becker vendió Funko a su amigo Brian Mariotti y durante años no consiguió nuevas ideas para renovar empresa, hasta que en el 2010 se presentó POP!, la nueva línea de la marca. El concepto está basado en el estilo chibi japonés, cuyas características principales son un estilo más simplista con cuerpos reducidos y cabezas extra grandes, además la mayoría de productos cuentan con unos ojos grandes negros sin expresión, una nariz triangular minúscula y generalmente no tienen boca. Las primeras fueron representaciones de los clásicos personajes de DC Comics, tales como Batman o el Joker.</p>
                    <p>En 2012 la compañía había generado ganancias de más de 20 millones de dólares. Al año siguiente Marriotti declaro que las ventas continuaron creciendo con más de 40 millones para ese año. Ya para el 2018 sus ventas superaron los 686 millones de dólares.</p>
                    <p>Actualmente la marca cuenta con más de 1000 licencias para la producción de sus figuras, tales como Marvel, Disney , Cartoon Network, HBO, Harry Potter y muchas más.</p>
                </section>
                <section class="multimedia">
                    <div>
                        <img src="../img/big-boy.jpg" alt="Big-Boy img">
                    </div>
                    <iframe width="1903" height="768" src="https://www.youtube.com/embed/QtIGcGuUNyk" title="La historia de Funko" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </section>
            </div>
        </main>
        <!--Fin historia de Funko POP-->
        <!--Inicio de footer-->
        <footer class="footer">
            <h3 class="footer__networks">NUESTRAS REDES</h3>
                <a class="footer__link" href="https://es-la.facebook.com/"><img src="../img/facebook.png" alt="Facebook"></a>
                <a class="footer__link" href="https://www.instagram.com/"><img src="../img/instagram.png" alt="Instagram"></a>
                <a class="footer__link" href="https://twitter.com/"><img src="../img/twitter.png" alt="Twitter"></a>   
            <h3 class="footer__rights">Todos los derechos reservados</h3>
        </footer>
        <!--Fin de footer-->
    </div>
</body>
</html>