/*Inicio de Main - Contacto*/
/*Grid*/
#grid-contact {
    display: grid;
    grid-template-areas: 
    "name"
    "mail"
    "phone"
    "comment";
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr 3fr;
}

.form__data__name {
    grid-area: name;
}

.form__data__mail {
    grid-area: mail;
}

.form__data__phone {
    grid-area: phone;
}

/*Formulario de contacto*/
.title-contact h1 {
    font-family: 'Carter One', cursive;
    font-size: map-get($font-sizes , text-xxl);
    text-align: center;
    text-decoration: underline;
    color: rgb(39, 202, 148);
    text-shadow: 3px 3px 3px black;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin: 25px;


    &__data {
        @include sizes (600px, 750px);
        border: 3px solid black;
        text-align: center;
        border: 3px solid black;
        border-radius: 15px;
    }

    &__data__item {
        padding: 15px;
        text-align: start;

        label {
            font-family: 'Carter One', cursive;
            font-size: 25px;
        }

        input {
            font-size: 25px;
            border: 1px solid black;
        }
    }

    &__data__comment {
        grid-area: comment;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: stretch;
        padding: 15px;
        text-align: start;

        label {
            font-family: 'Carter One', cursive;
            font-size: 25px;
        }
    }

        textarea {
            font-size: 20px;
            border: 1px solid black;
    }

    &__data__textarea-input {
        font-size: 25px;
        padding: 0px 5px;
        font-family: 'Carter One', cursive;
        background-color: map-get($colors , primary);
        
    }
}

/*Responsive*/
@media (max-width: 768px) {
    .title-contact h1 {
        font-size: 55px;
    }
    
    .form__data {
        @include sizes (480px, 750px);
    }
}

@media (max-width: 560px) {
    .form__data {
        @include sizes (360px, 750px);
    }
}

@media (max-width: 480px) {
    .title-contact h1 {
        font-size: map-get($font-sizes , text-xl);
    }
    .form__data {
        @include sizes (300px, 750px);
    }
}

@media (max-width: 360px) {
    .title-contact h1 {
        font-size: map-get($font-sizes , text-lg);
    }
    .form__data {
        @include sizes (240px, 750px);
    }
}
/*Fin de Main - Contacto*/