/*Inicio de Main - Index*/

.website-name {
        border: solid 5px map-get($colors , alternative);
        background-image:linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)),url(../img/background-domain.jpg);
        border-radius: 32px;
        background-position:center;
        background-repeat: no-repeat;
        background-size:cover;

        & h1 {
            text-align: center;
            font-size: 125px;
            font-family: 'Carter One', cursive;
            color: map-get($colors , alternative);
            -webkit-text-stroke: 3px black;
        }
    }

.news-title {
    font-family: 'Carter One', cursive;
    font-size: map-get($font-sizes , text-xl);
    text-decoration: underline;
    color: map-get($colors , primary);
    text-shadow: 3px 3px 3px black;
    text-align: center;
    margin-top: 75px;
}

.news {
    @include flex (row, wrap, space-evenly, stretch, 15px);
    padding: 15px;
    margin: 25px;
    text-align: center;

    &__article  {
        @include sizes (360px, 424px);
        border: solid  7px black;
        border-radius: 24px;
        padding: 15px;
        margin-bottom: 10px;
        background-color: white;
        transition: all 0.3s;

        &:hover {
            transform: scale(1.1,1.1);
            box-shadow: 0 0 10px 0px black ;
        }

        img {
            width: 15rem;
            height: 20rem;
        }

        h3 {
            font-family: 'Rubik', sans-serif;
            font-size: map-get($font-sizes , text-md);
            text-align:center;
            z-index: 1;
        }
    }
}

.sections-title {
    font-family: 'Carter One', cursive;
    font-size: map-get($font-sizes , text-xl);
    text-decoration: underline;
    color: map-get($colors , primary);
    text-shadow: 3px 3px 3px black;
    text-align: center;
    margin-top: 75px;
}

.sections {
    @include flex (row, wrap, space-evenly, stretch, 15px);
    padding: 15px;
    margin: 25px;

    &__item  {
        border: solid  7px black;
        border-radius: 24px;
        background-color: white;
        margin-bottom: 10px;
        transition: all 0.3s;

        &:hover {
            transform: scale(1.1,1.1);
            box-shadow: 0 0 10px 0px black ;
        }

        img {
            @include sizes (10rem, 15rem);
            margin: 1rem;
        }
    
        h3 {
            font-family: 'Rubik', sans-serif;
            font-size: map-get($font-sizes , text-sm);
            padding: 15px;
            text-align:center;
            z-index: 1;
        }
    }
}
/*Fin de Main - Index*/