/*Inicio de Main - Ofertas*/
.main__offers__title {
    font-family: 'Carter One', cursive;
    color: rgb(39, 202, 148);
    text-shadow: 3px 3px 3px black;
    font-size: map-get($font-sizes , text-xxl);
    text-align: center;
    text-decoration: underline;
}
/*Fin de Main - Ofertas*/