/*Inicio de Main - Productos*/
/*Inicio de listado de categorias*/

.products-title {
    text-align:justify;
    font-family: 'Carter One', cursive;
    color: rgb(39, 202, 148);
    text-shadow: 3px 3px 3px black;
    font-size: map-get($font-sizes , text-xxl);
    text-decoration: underline;
    padding-bottom: 25px;
}
.main__products {
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 55px;
}
.main__sections{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;

    &__items {
        @include sizes (320px, 480px);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        font-family: 'Rubik', sans-serif;
        font-size: map-get($font-sizes , text-lg);
        padding-left: 10px;
        border: 7px solid black;
        border-radius: 24px;
        
    }
}
/*Fin de listado de categorias*/
/*Inicio de productos en venta*/
.products { 
    @include flex (row, wrap, space-evenly, stretch, 15px); 
    text-align: center;

    &__article  {
        @include sizes (280px, 400px);
        @include flex (column, nowrap, space-evenly, center, 0px); 
        position: relative;
        border: solid  7px black;
        border-radius: 24px;
        padding: 15px;
        margin-bottom: 10px;
        background-color: white;
        transition: all 0.3s;

        &:hover {
            transform: scale(1.1,1.1);
            box-shadow: 0 0 10px 0px black ;
        }

        img {
            @include sizes (160px, 240px);
        }

        h3 {
            font-family: 'Rubik', sans-serif;
            font-size: map-get($font-sizes , text-sm);
            text-align:center;
            z-index: 1;
        }

        span {
            position: absolute;
            right: 5px;
            top: 25px;
            padding: 3px;
            background-color:rgb(239, 160, 16);
            font-family: 'Rubik', sans-serif;
            font-size: map-get($font-sizes , text-sm);
            border-radius: 5px;
        }
    }
}

.load-more {

    &__button {
        margin-left:375px ;
    }

    &__products {
        @include flex (row, wrap, space-evenly, stretch, 15px); 
    }
}

/*Fin de productos en venta*/
/*Inicio Responsive*/
@media (max-width: 768px) {

    .main .products-title {
        font-size: 55px;
    }
    .main  .main__products {
        flex-wrap: wrap;
    }
    .main .main__sections {
        align-items: center;

        &__items{
            @include sizes (280px, 400px);
            font-size: map-get($font-sizes , text-md);
        }
    }
}
/*Fin Responsive*/
/*Fin de Main - Productos*/